BLOCKFROST_PROJECT_ID=preprodPcOeCsU48sw3AxrWMveKjopWwhphiA59
ORGANISER_ADDRESS=addr_test1qz6lvlc5qd0sexm62ppyl55vvvjga360txjte2v45eqs3duzzc4p2aqrrt5hhl4gvk06u82mr903xz3t9ezwwvznhplq0ps9r9
ORGANISER_PKH=b5f67f14035f0c9b7a50424fd28c63248ec74f59a4bca995a64108b7
PINATA_API_KEY=...
PINATA_SECRET_KEY=...
CLAIM_SECRET=some_random_secret_for_qr_tokens
NEXT_PUBLIC_POLICY_ID=...
